<div class="footer">
  <div class="container">
    <span class="logo">Exclusive</span>
    <span>Subscribe</span>
    Get 10% off your first order
    <input type="text" placeholder="Enter your Email" />
  </div>
  <div class="container">
    <span class="header">Support</span>
    <p>Cairo, Egypt</p>
    <p>mohamed.hatem01101&#64;gmail.com</p>
  </div>

  <div class="container">
    <span class="header">Quick Link</span>
    <span>Privacy Policy</span>
    <span>Terms Of Use</span>
    <span>FAQ</span>
    <span>Contact</span>
  </div>
</div>
